<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
</head>
<body>

<b>domains</b>

<button>add</button>
<button onclick="getDomains()">get</button>


<script type="text/javascript">

    function getDomains() {
        $.ajax({
            type: 'get',
            url: '/api/users/domains',
            success: function (result) {

            }
        })
    }

</script>

</body>
</html>